body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: bgcolor infinite 0.5s;
}

table {
    width: 400px;

}

th {
    text-align: left;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}



.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 2px solid #1a1919;
}

img {
    width: 200px;
    height: 200px;
    /* display: flex;
    justify-content: flex-start; */
    border-radius: 80%;
    margin: 2%;
}


.tables {
    display: flex;
    justify-content: space-around;
    padding: 0 0 40px 0;
    flex-wrap: wrap;

}

.name {
    margin: 4% 0;
    font-size: larger;
    padding: 0 2%;
}

h3 {
    font-size: 28px;
}

.first-parag {
    border-bottom: 2px solid #1a1919;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    height: 15vh;

}

p {
    font-size: 20px;
    padding: 30px;
    text-align: center;
}

.section-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #1a1919;
    font-size: 20px;
    margin-bottom: 40px;
}

@keyframes bgcolor {
    0% {
        background: #000000;
    }

    20% {
        background: #0F6292;
    }

    40% {
        background: #16FF00;
    }

    60% {
        background: #FFED00;
    }

    80% {
        background: #E90064;
    }

    100% {
        background: #060047;
    }
}